# Local Development (Docker)
ES_HOST_LOCAL=http://localhost:9200

# Production (Elastic Cloud)
ES_HOST=https://your-elastic-cloud-url:443
ES_API_KEY=your-api-key

# Use local Elasticsearch if set to true, otherwise use production
USE_LOCAL_ES=true

# Path to scraped JSON files
DATA_FILE_PATH=/absolute/path/to/organic-food-web-scraper/output/

# API base URL
API_BASE_URL=http://localhost:8000
