organic-food-web-scraper.iml
.venv
.idea
*.pyc
__pycache__/
*.log
*.pid
.vscode/

# Node.js / React
node_modules/
package-lock.json
dist/
build/
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
